* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 1rem;
}

Input::placeholder {
  font-style: italic;
}

p {
  margin: 0.5rem;
}

form {
  margin: 0.25rem;
}

form button {
  margin: 1rem 2rem;
  padding: 0.5rem 2rem;
  border-radius: 0.75rem;
  border: none;
  box-shadow: 0rem 0.25rem 0.25rem grey;
  font-weight: 900;
  text-transform: uppercase;
}

form button:hover {
  background-color: black;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
}
